<!DOCTYPE html>
<html>
<head>
  <title>FlexibleFeeds</title>
  <%= stylesheet_link_tag    "flexible_feeds/application", media: "all" %>
  <%= javascript_include_tag "flexible_feeds/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
